.myProfile {
    padding-left: 20px;
    padding-top: 20px;
}

.myProfile img {
    margin-top:-240px;
    margin-left:-350px;
    width: 300px;

    border: 5px solid white;
    border-radius: 300px;

}

.profileInfo {
    margin-top: -80px;
    padding-bottom: 20px;
}