.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1366px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 300px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    margin-left: 5px;
    margin-top: 5px;
}
